<!-- CONTACT SECTION -->
<section id="contact" class="py-5">
    <div class="container">
        <h2 class="mb-4 fw-bold">Contact</h2>
        <ul class="list-unstyled">
            <li class="mb-2"><strong>Email:</strong> janssen.m.pacaoncess@gmail.com</li>
            <li class="mb-2"><strong>Mobile:</strong> +63 998 944 3183</li>
            <li class="mb-2"><strong>GitHub:</strong> <a href="https://github.com/" target="_blank">https://github.com/jpacaonces</a></li>
            <li class="mb-2"><strong>LinkedIn:</strong> <a href="https://linkedin.com/" target="_blank">https://www.linkedin.com/in/janssen-pacaonces-27866036b/</a></li>
        </ul>
        <a href="#" class="btn btn-success">Download Resume</a>
    </div>
</section>
